@page
<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-md-6">
            <a id="playAiButton" href="@Url.Page("ComputerGame")" class="game-mode-button">Играть против компьютера</a>
        </div>
        <div class="col-md-6">
            <a id="playHumanButton" href="/Matchmaking" class="game-mode-button">Играть против человека</a>
        </div>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>